 <!--footer-->
 <footer>
  <div class="container">
      <div class="row contact-sec">
          <div class="col-md-5 col-lg-5">
              <h2>Donate <span>Life</span></h2>
              <div class="row">
                  <div class="col-sm-6">
                      <p>{{_servicio.info.ciudad}}
                          <br/>Zip - 382481</p>
                  </div>
                  <div class="col-sm-6">
                      <ul>
                          <li><a href="#"><i class="fa fa-phone"></i> {{_servicio.info.telefono}}</a></li>
                          <li><a href="mailTo:{{_servicio.info.email}}"><i class="ti-email"></i>{{_servicio.info.email}}</a></li>
                      </ul>
                  </div>
              </div>
              <a href="#" class="btn-default">Contact Us</a>
          </div>
          <div class="col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
              <h2>Donate<span>Heroe</span></h2>
              <div class="row">
                  <div class="col-sm-6">
                      <p>E104 Dharti -2 , Nr Silverstar Mall Chandlodia - Ahmedabad
                          <br/>Zip - 382481</p>
                  </div>
                  <div class="col-sm-6">
                      <ul>
                          <li><a href="#"><i class="fa fa-phone"></i> +91 123 456 7890</a></li>
                          <li><a href="#"><i class="ti-email"></i> info@bootstrapmart.com</a></li>
                      </ul>
                  </div>
              </div>
              <a href="#" class="btn-default">Conviertete en Donador</a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-lg-8">
              <ul class="footer-nav">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Nosotros</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="#">Ubica un centro</a></li>
                  <li><a href="#l">Lista de Heroes</a></li>
                  <li><a href="contact-us.htm">Contactanos</a></li>
                  <li><a href="#">Products</a></li>
              </ul>
          </div>
          <div class="col-md-2 col-lg-2 col-md-offset-2 col-lg-offset-2">
              <ul class="footer-social">
                  <li><a target="_blank" [href]= "_servicio.info.facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a target="_blank" [href]="_servicio.info.twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                  Copyright &copy; {{anio}} <a href="#">insurancepress.com</a>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                  <a href="#">Terms & Conditions</a>
                  <a href="#">Policy</a>
              </div>
          </div>
      </div>
  </div>
</footer>