
   

<section class="flexslider">
  <ul class="slides">
      <li>
          <img src="assets/images/slider-img.jpg" />
          <div class="slide-info">
              <div class="slide-con">
                  <b>Conviertete en Donador</b>
                  <h3> Es Importante</h3>
                  <p>La sangre es el regalo más valioso que podemos ofrecer a otra persona: </p>
                  <a href="#" class="ti-arrow-right"></a>
              </div>
          </div>
      </li>
      <li>
          <img src="assets/images/slider-img1.jpg" />
          <div class="slide-info">
              <div class="slide-con">
                  <b>Que necesitas saber</b>
                  <h3>Deja que te Encuentren</h3>
                  <p>Sumate a la lista de Posibles Donadores deja que te encuentren y salva una vida </p>
                  <a href="#" class="ti-arrow-right"></a>
              </div>
          </div>
      </li>
      <li>
          <img src="assets/images/slider-img2.jpg" />
          <div class="slide-info">
              <div class="slide-con">
                  <b>Ayuda</b>
                  <h3>Se un heroe </h3>
                  <p>Convierte en heroe dejate encontrar sumate a la lista y si te necesitan te daran la señal </p>
                  <a href="#" class="ti-arrow-right"></a>
              </div>
          </div>
      </li>
  </ul>
</section>
   