<div class="clear"></div>
<app-slider></app-slider>
       
         <!--FINAL SLIDER-->
        
        <!--inicia otra seccion-->
        <div class="container">
            <div class="row">
                <section class="col-sm-7 col-md-8 col-lg-8">
                    <div class="intro">
                        <h2>{{_servicio.info.titulo}}</h2>
                        <p>Unete a y Dona vida conviete en un heroe, solo registrandote en la lista puedes convertirte en un posible donador de sangre y salvar una o varias vidas </p>
                        
                        <h2>Importancia de Donar Sangre</h2>
                          <p>Existe una necesidad constante de donaciones regulares, ya que la sangre sólo se puede conservar durante un tiempo limitado y luego deja de ser utilizable. Las donaciones regulares de sangre por un número suficiente de personas sanas son imprescindibles para garantizar la disponibilidad de sangre segura en el momento y el lugar en que se precise.

La sangre es el regalo más valioso que podemos ofrecer a otra persona: el regalo de la vida. La decisión de donar sangre puede salvar una vida, o incluso varias si la sangre se separa por componentes –glóbulos rojos, plaquetas y plasma–, que pueden ser utilizados individualmente para pacientes con enfermedades específicas.</p>
                        
                        
                    </div>
                    <!--ALERTA CON ESTA SECCIONPARA SEPARARLA -->
                </section>
                <section class="col-sm-5 col-md-4 col-lg-4">
                    <div class="get-quote-form">
                        <h2>Convierte en heroe </h2>
                        <form id="get-quote">
                            <div>
                                <input type="text" name="name" placeholder="Tu Nombre" />
                            </div>
                            <div>
                                <input type="text" name="email" placeholder="Email" />
                            </div>
                              <div>
                                <input type="text" name="ciudad" placeholder="Ciudad" />
                            </div>
                            <div>
                                <input type="text" name="ph-no" placeholder="numero telefonico" />
                            </div>
                            
                            <div class="form-select">
                                <span></span>
                                <select>
                                    <option>Tipo de Sangre</option>
                                </select>
                            </div>
                            <div>
                                <textarea rows="1" cols="1" placeholder="Mensaje de esperanza"></textarea>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn-default" value="Se un Heroe" />
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <section class="product-tab">
            <div class="container">
                <div class="row">
                    <div id="parentVerticalTab">
                        <h2>De Importancia </h2>
                        <ul class="resp-tabs-list hor_1 col-sm-3 col-md-3 col-lg-3">
                            <li><i class="ti-home"></i> Requisitos</li>
                            <li><i class="fa fa-plane"></i> No Pueden</li>
                            <li><i class="ti-heart-broken"></i> Permanente</li>
                            <li><i class="ti-car"></i> Como funciona</li>
                        </ul>
                        <div class="col-sm-5 col-md-5 col-lg-5 resp-tabs-container hor_1">
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-home"></i></span>
Requisitos para Ser Donador 
                                    </h4>
                                    <p>Existen pocos requisitos para ser donantes de sangre; sin embargo, la mayor parte de las personas pueden donar cada 8 semanas. Para donar sangre usted debe:

Ser mayor de 18 años
Pesar al menos 50 Kg.
Gozar de buena salud
Si una persona toma alguna medicación, suele poder donar sangre, pero ha de informar al personal técnico del banco de sangre antes de hacerlo.</p>
                                    
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +123 456 7890 <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="product-houseinsurance.html">Unete</a>
                                    </p>
                                </div>
                                <img src="images/product-img.jpg" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="fa fa-plane"></i></span>¿Quién no puede ser donante de sangre Temporalmente?
                                    <p>Aquellas personas a las que se les prohíbe temporal o permanentemente donar sangre en las circunstancias mencionadas más adelante. La prohibición temporal hace referencia a personas con un proceso o circunstancia a corto plazo incluyendo:

Un ataque al corazón o una operación de corazón en los 6-12 últimos meses
Paludismo en los 3 últimos años o un viaje en el año previo a un área en la que está presente el paludismo
Transfusión de sangre o productos sanguíneos en el año previo
Haberse sometido a un tatuaje o piercing en el año previo
Contacto familiar en el año previo con una persona que presenta hepatitis
No encontrarse bien el día de la donación
Tratamiento con antibióticos en las 72 horas previas a la donación
Anemia: disminución del número de glóbulos rojos </p>
                                  
                                    </h4>  
                                </div>
                                <img src="images/1.jpg" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-heart-broken"></i></span>
                                        prohibición permanente de donar sangre 
                                    </h4>
                                    <p>La prohibición permanente de donar sangre incluye:

Quimioterapia o radioterapia para el tratamiento de algunos tipos de cáncer
Hepatitis a los 11 o más años
Un riesgo alto de ser portador del VIH (el virus que provoca sida), debido al consumo de drogas por vía intravenosa o relaciones sexuales.</p>
                                   
                                </div>
                                <img src="images/3.jpg" alt="" class="img-responsive" />
                            </div>
                            <div>
                                <div class="prod-tab-content">
                                    <h4>
                                        <span class="prod-cion"><i class="ti-car"></i></span>
                                        Como Funciona
                                    </h4>
                                    <p>Simplemente registrate en la lista de heroes posibles donadores, en la cual indicaras tu tipo de sangre y localidad, si en algun momentoa lguien necesita d ti te contactara por este medio, no estas obligado pero seria Genial ayudar a otrso cuando mas lo necesiten  </p>
                                    <p class="tel">
                                        <i class="fa fa-phone"></i> +123 456 7890 <span>Toll Free</span>
                                    </p>
                                    <p>
                                        <a class="btn-default" href="#">Convierte en Heroe </a>
                                    </p>
                                </div>
                                <img src="images/2.jpg" alt="" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
     

    
    <div class="clear"></div>
    